body {
    background: rgb(15, 66, 141) ;
}

h1 {
    text-align: center;
    font-style: italic;
    color: wheat
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.697) 
}

h2 {
    color: wheat;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 800px;
}

.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 800px;
}